<section id="about" class="module">

	<div class="container-fluid container-custom">
		<div id="about-container" class="module-about module-parallax module-full-height bg-light-60">
			<!-- MODULE TITLE -->
			<div class="about row">
				<div class="col-sm-10 col-sm-offset-1">
					<div class="about-logo">
						<img id="aboutlogo"  alt="" src="https://static.wixstatic.com/media/3a5df7_10560684773f42c6bec0346c80fa658e~mv2.png/v1/fill/w_720,h_583,al_c,lg_1/3a5df7_10560684773f42c6bec0346c80fa658e~mv2.png"
                    data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$PAGES_CONTAINER.1.1.$SITE_PAGES.$mainPage.1.$comp-irmumkba.0.0.$image">>
					</div>
					<h2 class="text-center module-title">About</h2>
					<hr>

					<p class="text-center lead module-subtitle"> CIRCADIA is redefining fine dining with a focus on delicious approachability and balance. Breaking down the stereotypes
						often associated with fine dining, CIRCADIA offers a luxurious, delicious experience that is welcoming and inclusive
						rather than exclusive and pretentious.</p>
				</div>
			</div>

			<div id="aboutImage" class="module3">
				<div class="container-fluid container-custom">
					<!--<div style="text-align: center; padding-right: 0 !important;" class="col-sm-8 col-sm-offset-2">-->
						<!--<div class="aboutUs">
							<h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis maiores pariatur sapiente in harum omnis soluta
								officia cumque, voluptatem nesciunt, magnam neque quia natus. Consequuntur atque necessitatibus magnam iste reiciendis!</h3>
						</div>-->
						
							<img src="img/plating3.jpg" class="image3" alt="2&quot;he">
							<img src="img/plating4.jpg" class="image4" alt="2&quot;he">

						
					</div>
				</div>
			</div>
		</div>

</section>