<section id="about" class="module">

	<div class="container-fluid container-custom">

		<!-- MODULE TITLE -->
		<div class="about row">
			<div class="col-sm-10 col-sm-offset-1">
				<div class="about-logo">
					<img id="aboutlogo" src="img/Circadialogo.png" alt=" ">
				</div>
				<h2 class="text-center module-title">About</h2>

				<p class="text-center lead module-subtitle"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem harum, dolor deleniti eos laudantium voluptates
					consequuntur sequi libero possimus molestiae. Dolore voluptatum cumque non magni dicta earum nostrum, enim, animi!Lorem
					ipsum dolor sit amet, consectetur adipisicing elit. Dolores eveniet doloribus est quia accusamus maxime magni reiciendis
					consequuntur, odio laboriosam. Atque mollitia doloremque magni voluptatum, iste accusantium ipsa delectus quos..</p>
			</div>
		</div>
	</div>
</section>
<section id="aboutImage">
	<div style="text-align: center; padding-right: 0 !important;" class="col-sm-8 col-sm-offset-2">
		<!--<div class="aboutUs">
			<h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis maiores pariatur sapiente in harum omnis soluta
				officia cumque, voluptatem nesciunt, magnam neque quia natus. Consequuntur atque necessitatibus magnam iste reiciendis!</h3>
		</div>-->
	<div>
		<img src="img/plating.jpg" class="image3" alt="2&quot;he">
		<img src="img/plating2.jpg" class="image4" alt="2&quot;he">

	</div>
	</div>
</section>