 
 /*For devices 981px and larger: */
/*@media only screen and (min-width: 981px) {

}*/

  /*For devices 769px and larger: */
/*@media only screen and (min-width: 769px){

}*/
/*For devices 435px and smaller: */
/*@media only screen and (max-width: 435px) {
  
}*/

/*For devices 414px and smaller: */
/*@media only screen and (max-width: 414px) {
  
}*/
/*For devices 320px and smaller: */
/*@media only screen and (max-width: 320px) {
  
}*/
.end{
 border-top: 1px solid black;
    margin-left: 15px;
    margin-right: 15px;
}


#googleMap{
    padding-top: 5%;
}
#contacts{
    background-color: lightgrey;
    margin-left: -15px;
    
}
#contact{
   background:rgb(69, 107, 125);
    margin-left:  -15px;
}
#contactlogo{
         position: relative;
      height: 29%;
      margin-top: 5%;
      margin-bottom: 0%;
        -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter:         drop-shadow(5px 5px 5px #222); 
}
.contact-logo{
    text-align: center;
}
#contactlogo{
    position: relative;
    height: 13%;
}

#location p, h5{
color: lightgrey;
}

 #logo{
    
    height: 14vw;
    position: absolute;
    right: 50%;
    top: 0vw;
 }



.me a{
    font-size: 2vw;
     font-family: 'Mrs Saint Delafield', cursive;
     color: lightgrey;
     margin-top: 0px;
}
.me .fa{
    font-size: 2vw;

}
.me{
    background-color: black;
    font-family: 'Slabo 27px', serif;
    text-align: center;
    font-size: 2vw;
    padding-top: 2%;
    margin-right: -30px;
    margin-left: -30px;
   /*margin-bottom: 5%;*/
}
.map{
    height: 700px;
}
.form-group .btn{
    background-color: black;
    border: 2px solid white;
}
.form-group .btn:hover{
    background-color: #b4a755;
    border: 1px solid white;
}

#submit button{
    color: lightgrey;
    float: left;
}
.clearfix{
font-size: smaller; 
color: grey;
text-align: center;
}
/*new form*/
#googleMap{
   width:80%; 
   height:400px; 
   margin-bottom: 2%; 
   margin: 0 auto;
}
/*For devices 435px and smaller: */
@media only screen and (max-width: 768px) {
  #googleMap{
   width: 76%; 
   height:400px; 
   margin-bottom: 2%; 
   margin-left: 12%;
}
.clearfix{

}
}