<section id="contact" class="section-padding" style="position: relative;">
    
        <div id="banner" class="row">
            <div class="col-xs-12  col-sm-12">
                <div class="center-heading text-center">
                    <div class="contact-logo">
                        <img id="contactlogo" alt="logo" src="https://static.wixstatic.com/media/3a5df7_10560684773f42c6bec0346c80fa658e~mv2.png/v1/fill/w_720,h_583,al_c,lg_1/3a5df7_10560684773f42c6bec0346c80fa658e~mv2.png"
                            data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$PAGES_CONTAINER.1.1.$SITE_PAGES.$mainPage.1.$comp-irmumkba.0.0.$image">
                    </div>
                    <hr>
                    <h2>Contact Us</h2>
                    <span class="icon"><i class="fa fa-phone"></i></span>
                </div>
                <!--center heading-->
            </div>
        </div>
        <!--center heading-->
        <!--<div class="row">
            <div class="col-xs-10 col-xs-offset-1 col-md-10 col-offset-1 text-center">
                <p class="lead">
                    Give us a call or email.
                </p>
            </div>
        </div>-->
        <!--<div class="divided-50"></div>-->
        <div class="row text-center contact-form">
            <div  class="col-xs-10 col-xs-offset-1  col-sm-10 col-md-10 col-lg-10">

                <div class="row">
                    <div class="col-xs-12 col-md-12">


                        <form name="sentMessage" id="contactForm" method="post" novalidate="">

                            <div class="form-group controls">
                                <label>Name<span>*</span></label>
                                <input type="text" class="form-control" placeholder="Name" id="name" required="" data-validation-required-message="Please enter your name.">
                                <p class="help-block"></p>
                            </div>





                            <div class="form-group controls">
                                <label>Phone Number<span>*</span></label>
                                <input type="tel" class="form-control" placeholder="Phone Number" id="tel" required="" data-validation-required-message="Please enter your telephone number.">
                                <p class="help-block"></p>
                            </div>




                            <div class="form-group  controls">
                                <label>Email Address<span>*</span></label>
                                <input type="email" class="form-control" placeholder="Email Address" id="email" required="" data-validation-required-message="Please enter your email address.">
                                <p class="help-block"></p>
                            </div>



                            <div class="form-group  controls">
                                <label>Message<span>*</span></label>
                                <textarea rows="5" class="form-control" placeholder="Message" id="message" required="" data-validation-required-message="Please enter a message."
                                    style="margin-left: 0px; margin-right: -0.015625px; width: 100%;"></textarea>
                                <p class="help-block"></p>
                            </div>


                            <br>
                            <div id="success"></div>
                            <div id="submit" class="row">
                                <div class="form-group col-xs-12">
                                    <button type="submit" class="btn btn-lg">Send Message</button>
                                </div>
                            </div>

                        </form>
                    </div>


                    <!--form col-->



                    <div id="location" style="display: inline-block;" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                        <div class="lead" style="margin-left: 1%; margin-top: 4%;">
                            <!--
                        <h3>Our Location</h3>-->
                            <p><i class="fa fa-map-marker "></i> CIRCADIA <br>555 BlaBla Way, <br>Seattle WA, 98101 </p>
                            <p><i class="fa fa-phone "></i> 206.000.0000</p>
                            <p><i class="fa fa-envelope "></i> info@blabbla.com</p>
                            <p><strong>Monday - Thursday: </strong> 9:30 am - 11:00 pm</p>
                            <p><strong>Friday - Saturday: </strong> 10 am - 1:00 am</p>
                            <p><strong>Sunday: </strong> 10 am - 1:00 am</p>
                        </div>
                        <div>
                            <h5>Elsewhere</h5>
                            <ul class="list-inline social ">
                                <li><a href="https://www.facebook.com/" target="_blank "><i class="fa fa-4x
                fa-facebook "></i></a></li>
                                <li><a href="https://twitter.com/" target="_blank "><i class="fa fa-4x fa-twitter "></i></a></li>
                                <li><a href="https://www.instagram.com/ " target="_blank "><i class="fa fa-4x fa-instagram"></i></a></li>

                            </ul>
                        </div>
                    </div>



                </div>

            </div>

        </div>

        <!-- MODULE TITLE -->
        <div class="end row text-center">
            <div class="col-xs-12  col-sm-12 col-md-12 col-lg-12">
                <div id="googleMap">
                    <img src="img/map.png" class="img-responsive" alt="2&quot;he">
                    <!--<a href="https://www.google.com/maps/place/624+Olive+Way,+Seattle,+WA+98101/@47.6136184,-122.3376832,17z/data=!3m1!4b1!4m5!3m4!1s0x5490154ad9d0ba11:0x7e9ef9247908ecef!8m2!3d47.6136184!4d-122.3354892"></a>-->
                </div>

            </div>


        </div>
        <div class="me clearfix">
            <p class="col-xs-12"><small><i class="fa fa-copyright" aria-hidden="true"></i>Designed and Developed by</small></p>
            <p class="col-xs-12"><span><a href="http://malyndapoulsen.github.io/UpdatedResume/" target="_blank">M Poulsen Designs</a></span></p>
        </div>

    

</section>