   
body, html{
overflow-x: hidden;
   font-family: 'Roboto', sans-serif;
}

  #heading .row{
      text-align: center;
  }
   

   /*swap main image for mobile*/
.image2{
   display: none;
}

@media only screen and (max-width: 500px){ 
   .image1{
     display: none;
   }

   .image2{
     display: block;
   }
}



 /*For devices 981px and larger: */
@media only screen and (min-width: 981px) {
  .logo{
      position: relative;
      margin-right: -15px;
  }
  .logo img{
    
      position: relative;
      height: 20%;
      margin-top: 15px;
      margin-bottom: 20px;
  }
  .logo p{
      margin-top: 5%;
      margin-bottom: 10%;
      padding-bottom: 20px;
      font-size: 2vw;

  }
}

  /*For devices 769px and larger: */
@media only screen and (min-width: 769px){

}
/*For devices 435px and smaller: */
@media only screen and (max-width: 435px) {
  
}

/*For devices 414px and smaller: */
@media only screen and (max-width: 414px) {
  
}
/*For devices 320px and smaller: */
@media only screen and (max-width: 320px) {
  
}

  .image1{
      z-index: -22; 
      top: 0%; 
      margin-left: -15px; 
      background: cover; 
      width: 100%; 
      position: fixed; 
      background-repeat: no-repeat; 
      margin-right: -15px; 
      margin-bottom: -15px; 
      padding-bottom: 0px;
  }
    .image2{
      z-index: -22; 
      top: 0%; 
      margin-left: -15px; 
      background: cover; 
      width: 100%; 
      position: fixed; 
      background-repeat: no-repeat; 
      margin-right: -15px; 
      margin-bottom: -15px; 
      padding-bottom: 0px;
  }

  .logo{
      position: relative;
      margin-right: -15px;
  }
  .logo img{
    
      position: relative;
      height: 20%;
      margin-top: 15px;
      margin-bottom: 20px;
  }
  .logo p{
      margin-bottom: 10%;
      padding-bottom: 20px;
      font-size: 2vw;

  }







#scroller{
animation-duration: 2s;
animation-delay: 2s;
animation-iteration-count: 5;
position: absolute;
bottom: 2%;
left: 49%;
}

