<div id="main" class="wrapper wrapper-100vh wrapper-darkest text-center wrapper-overflow-hidden skrollable skrollable-between">

    <section id="main2" class="lead module-hero">
        <div id="heading" class="row">
            <div style="text-align: center; class="col-xs-12  col-sm-12">
                <div class="row logo">
                    <img src="img/Circadialogo.png" alt="">
                </div>
                <div style="text-align: center; class="row">
                    <h3><em>"What is Circadia"<em></h3> 
                </div>
              </div>
           </div>
		</section>
        	<div id="image" style="text-align: center; padding-right: 0 !important;" class="col-lg-12 col-md-12">
			<img src="img/vinyard2.jpg" style="z-index: -22; background: cover; width: 100%; position: fixed; margin-right: -15px; margin-bottom: -15px; padding-bottom: 0px;"
				class="img-responsive" alt="2&quot;he">
		</div>
			<footer id="scroller">
				<div class="scroll-down">
					<i class="fa fa-angle-double-down fa-4x"></i>
				</div>
			</footer>
	</div>

</div>