<div id="main" class="container-fluid" style="position: relative;">

    <div id="heading" class="row bg-full">

        <img src="img/dining.png" class="image1" class="img-responsive" alt="2&quot;he">

        <img src="img/dining2.png" alt="2&quot;he" class="image2" class="img-responsive" alt="2&quot;he">
        <div class="triangle-down"></div>

        <div style="text-align: center;" class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1">
            <div class="row logo">

                <img id="main-logo" alt="" src="https://static.wixstatic.com/media/3a5df7_10560684773f42c6bec0346c80fa658e~mv2.png/v1/fill/w_720,h_583,al_c,lg_1/3a5df7_10560684773f42c6bec0346c80fa658e~mv2.png"
                    data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$PAGES_CONTAINER.1.1.$SITE_PAGES.$mainPage.1.$comp-irmumkba.0.0.$image">




                <div id="me" style="text-align: center; color: white;" class="img-responsive">
                    <b><p><span >FINE DINING</span></p></b>
                </div>
            </div>
        </div>


    </div>
</div>