<div id="menubackground" class="row bg-full" style="text-align: center; ">
  <div>
    <!--<img id="menubackground" src="img/menuPlate2.jpg" 
        class="img-responsive" alt="2&quot;he">-->
    <div class="text-center col-sm-12 col-md-12" style="margin-right: 0px; padding-left: 0px; padding-right: 0px;">
      <div class="row menu-logo">
        <img id="main-logo" alt="" src="https://static.wixstatic.com/media/3a5df7_10560684773f42c6bec0346c80fa658e~mv2.png/v1/fill/w_720,h_583,al_c,lg_1/3a5df7_10560684773f42c6bec0346c80fa658e~mv2.png"
          data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$PAGES_CONTAINER.1.1.$SITE_PAGES.$mainPage.1.$comp-irmumkba.0.0.$image">
      </div>
      <div id="taste" style="text-align: center; color: white;" class="img-responsive">
        <p><span class="lead">TASTE THE DIFFERENCE</span></p>
      </div>

    </div>
  </div>
</div>

<div id="menuBar" class="row bg-full" style="position: relative; z-index: 10;   background-color: black; background-size: cover; position: relative; ">
  <div class="col-sm-12 col-md-12" style="text-align: center;  ">
    <!--
                <div style="text-align: center;" class="menuBar">-->
    <div style="margin-top: 54px;" class="menuList">
      <h2 class="module-title">Menus</h2>
      <hr>
      <ul class="menu-menu">
        <li><a href="#starters" class="section-scroll">Starters</a></li>
        <li><a href="#salads" class="section-scroll">Salads</a></li>

        <li><a href="#sides" class="section-scroll">Sides</a></li>
        <li><a href="#entrees" class="section-scroll">Entrees</a></li>
        <li><a href="#desserts" class="section-scroll">Desserts</a></li>
      </ul>
      <!--<div>

        <a>
          <p class="btn" class="lead" ng-click="$ctrl.activeMenu = 'img/brunch.jpg'">Brunch</p>
        </a>
        <a>
          <p class="btn" class="lead" ng-click="$ctrl.activeMenu = 'img/lunch.jpg'">Lunch</p>
        </a>
        <a>
          <p class="btn" class="lead" ng-click="$ctrl.activeMenu = 'img/appetizers.jpg'">Appetizers</p>
        </a>
        <a>
          <p class="btn" class="lead" ng-click="$ctrl.activeMenu = 'img/dinner.jpg'">Dinner</p>
        </a>
        <a>
          <p class="btn" class="lead" ng-click="$ctrl.activeMenu = 'img/wine.jpg'">Wine</p>
        </a>
        <a>
          <p class="btn" class="lead" ng-click="$ctrl.activeMenu = 'img/cocktails.jpg'">Cocktails</p>
        </a>

      </div>-->
      <hr>
    </div>

    <div class="row menuList2">
      <div style="padding-left: 0px;" class="col-xs-8 col-xs-offset-2">
        <hr>
        <div class="dropdown">
          <button class="btn btn-default dropdown-toggle" type="button" id="menu2" data-toggle="dropdown">Menus
                        <span class="caret"></span></button>
          <ul class="dropdown-menu" role="menu" aria-labelledby="menu2">
              <li><a href="#starters" class="section-scroll">Starters</a></li>
        <li><a href="#salads" class="section-scroll">Salads</a></li>

        <li><a href="#sides" class="section-scroll">Sides</a></li>
        <li><a href="#entrees" class="section-scroll">Entrees</a></li>
        <li><a href="#desserts" class="section-scroll">Desserts</a></li>
          </ul>
        </div>
        <hr>
      </div>
    </div>

  </div>

</div>





<div id="all-menus" class="module">

  <div class="container-fluid container-custom menu-text">
    <div id="menuContainer" class="module-brunch module-parallax module-full-height bg-dk-100">
      <!-- MODULE TITLE -->
      <div class="menues row">
        <div style="text-align: center;" class="col-sm-10 col-sm-offset-1">
          <div class="menues-logo">
            <img style="height: 15%; margin-top: 0%; margin-bottom: 0px;" id="contactlogo" alt="logo" src="https://static.wixstatic.com/media/3a5df7_10560684773f42c6bec0346c80fa658e~mv2.png/v1/fill/w_720,h_583,al_c,lg_1/3a5df7_10560684773f42c6bec0346c80fa658e~mv2.png"
              data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$PAGES_CONTAINER.1.1.$SITE_PAGES.$mainPage.1.$comp-irmumkba.0.0.$image">
          </div>


        </div>
      </div>
    </div>
    <div id="starters" class="row bg-full menus text-center">
<!--
menu ng-repeat-->

      <div class="text-center col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-repeat="section in $ctrl.menu">
        <b><h2>{{section}}</h2><b>
        <div id="line" class="row">
       
            <img src="img/line.png" alt="line break">
          
          <ul class="list-group">
           
              <li class="list-group-item" ng-repeat="entree in section">
              <h3>{{entree.name}}
              </h3>
              <p>{{entree.description}}</p>
            <h5>{{entree.price}}</h5>
        

          </li>

           

        </ul>

        <a href="#menuBar" type="button" class="section-scroll">Top of Menu</a>
        </div>
       

      </div>






    </div>

    <!--<div class="row bg-full brunch-menu">
      <div class="col-xs-10 col-xs-offset-1 image-responsive">
        <img ng-src="{{$ctrl.activeMenu}}" style="background: cover; width: 100%; position: relative; margin-bottom: 2%;" class="img-responsive"
          alt="2&quot;he">

      </div>
    </div>-->
    <div class="disclaimer">
      <p>* These menus are a representation of our daily menus. Items are subject to availability.</p>
    </div>
  </div>
</div>