

    <!--<section id="team" class="lead module4">
        <div id="team-heading" class="row bg-full">
           		<div class="col-sm-10 col-sm-offset-1">
				<div class="team-logo">
					<img id="teamlogo" src="img/Circadialogo.png" alt=" ">
				</div>
				<h2 class="text-center module-title">Our Team</h2>
				<hr>

				<p class="text-center lead module-subtitle"> CIRCADIA is redefining fine dining with a focus on delicious approachability and balance. Breaking down the stereotypes
					often associated with fine dining, CIRCADIA offers a luxurious, delicious experience that is welcoming and inclusive
					rather than exclusive and pretentious.</p>
		</div>
           </div>
        	<div id="teamimage" style="text-align: center; padding-right: 0 !important;" class="col-lg-12 col-md-12">
			<img src="img/Chef.jpg" style="z-index: 433; top: 0%; margin-left: -15px; background: cover; width: 100%; position: relative; margin-right: -15px; margin-bottom: -15px; padding-bottom: 0px;"
				class="img-responsive" alt="2&quot;he">
		</div>
		</section>-->

<section id="team" >

	<div class="container-fluid container-custom">
		<div id="team-container" class="module-about module-parallax module-full-height bg-light-80">
			<!-- MODULE TITLE -->
			<div class="team row">
				<div class="col-sm-10 col-sm-offset-1">
					<div class="team-logo">
						<img id="teamlogo" src="img/Circadialogo.png" alt=" ">
					</div>
					<h2 class="text-center module-title">Our Team</h2>
					<hr>

					<p class="text-center lead module-subtitle"> CIRCADIA is redefining fine dining with a focus on delicious approachability and balance. Breaking down the stereotypes
						often associated with fine dining, CIRCADIA offers a luxurious, delicious experience that is welcoming and inclusive
						rather than exclusive and pretentious.</p>
				</div>
			</div>

			<div class="row" id="teamImage">
				<div class="container-fluid container-custom">
					<!--<div style="text-align: center; padding-right: 0 !important;" class="col-sm-8 col-sm-offset-2">-->
						<!--<div class="aboutUs">
							<h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis maiores pariatur sapiente in harum omnis soluta
								officia cumque, voluptatem nesciunt, magnam neque quia natus. Consequuntur atque necessitatibus magnam iste reiciendis!</h3>
						</div>-->
						
							<img src="img/Chef.jpg"  alt="2&quot;he">
							<!--<img src="img/plating4.jpg" class="image4" alt="2&quot;he">-->

						
					</div>
				</div>
			</div>
		</div>

</section>




