#teamimage{
position: relative;
}
#team{
    background-color: black;
    background-attachment: relative;
    margin-top: 65%;
    padding-top: 5%;
    position: absolute;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
     z-index: 22;
 
}
#teamImage container-fluid{
    margin-left: -15px;
    margin-right: -15px;
    padding-left: 0px;
    padding-right: 0px;
}
#teamImage img{
    width: 100%;
    margin-top: -15%;
}
#teamImage2 img{
    width: 100%;
    margin-top: -1%;
}
#teamImage2 container-fluid{
    margin-left: -15px;
    margin-right: -15px;
    padding-left: 0px;
    padding-right: 0px;
}
#team{
    position: relative;
    top: 0%;
    left: 0%;
    background: black;
}
#team h2{
    margin-top: 5%;
    padding-top: 0;
    color: #b4a755;
     font-family: 'Roboto', sans-serif;
}
#team h3{
    color:  #b4a755;
}
.team{
margin-bottom: 20%;
}
#team p{
   
          font-family: 'Roboto', sans-serif;
     color: grey; 
     margin-bottom: 5%;
     /*font-size: 1.5vw;*/
}
#Garret .btn{
    border: 1px solid  #b4a755;
}
 #Andrea .btn{
      border: 1px solid  #b4a755;
 }
 /*For devices 981px and larger: */
/*@media only screen and (min-width: 981px) {

}*/

  /*For devices 769px and larger: */
/*@media only screen and (min-width: 768px){
.module-hero, .module-hero-sm, .module-hero-xs {
    background-color: black;
    background-attachment: fixed;
    margin-top: 6%;
    padding-top: 70px;
    position: relative;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
}*/
/*For devices 435px and smaller: */
/*@media only screen and (max-width: 435px) {
  
}*/

/*For devices 414px and smaller: */
/*@media only screen and (max-width: 414px) {
  
}*/
/*For devices 320px and smaller: */
/*@media only screen and (max-width: 320px) {
  
}*/

.team h2{
    margin-top: 5%;
    padding-top: 0;
    color: #b4a755;
     font-family: 'Roboto', sans-serif;
}
.team p{
   
          font-family: 'Roboto', sans-serif;
     color: grey; 
     margin-bottom: 15%;
     /*font-size: 1.5vw;*/
}
/*#about{
   padding-top: 44px;
   padding-bottom: 15px;
   /*margin-top: 25%;*/
   /*background-color: black;
   color: white;
   margin-bottom: 0px;
}*/
#teamImage{
    position: relative;
}

.team-logo{
    text-align: center;
}
.team-logo img{
    position: relative;
    height: 13%;
}


 #team-logo{
    
    height: 14vw;
    position: absolute;
    right: 50%;
    top: 0vw;
 }
 #team{
     margin-left: -15px;
 }

   /*swap main image for mobile*/
/*.image4{
   display: none;
}*/

@media only screen and (max-width: 500px){ 
   .image3{
     display: none;
   }

   .image4{
     display: block;
   }
}
 .image3{
     z-index: 22; 
     /*top: 0%; 
     left: -35%; */
     background-size: cover; 
     width: 110%; 
     background-repeat: no-repeat; 
     position: absolute; 
     margin-left: -15px;
         margin-left: -30px;
			margin-right: -15px; 
            margin-bottom: -15px; 
            padding-bottom: 0px; 
            padding-top: 0px;
 }
  .image4{
     z-index: 22; 
     /*top: 0%; 
     left: 0%; */
       margin-left: -30px;
     background-size: cover; 
     width: 150%; 
     background-repeat: no-repeat; 
     position: absolute; 
			margin-right: -30px; 
            margin-bottom: -15px; 
            padding-bottom: 0px; 
            padding-top: 0px;
            margin-top: -20px;
 }
  @media only screen and (max-width: 320px){
 #about{
     margin-top: -80px;
 }
}
 @media only screen and (min-width: 375px){
 #about{
     margin-top: 45px;
 }
}
  @media only screen and (max-width: 360px){
 #about{
     margin-top: 4px;
 }
}
 @media only screen and (min-width: 411px){
 #about{
     margin-top: 50px;
 }
}
 @media only screen and (min-width: 500px){
 #about{
     margin-top: -45px;
 }
}
 @media only screen and (min-width: 600px){
 #about{
     margin-top: 0px;
 }
}
 @media only screen and (min-width: 768px){
 #about{
     margin-top: 73px;
 }
}
 @media only screen and (min-width: 800px){
 #about{
     margin-top: 198px;
 }
}
 
 /*For devices 981px and larger: */
/*@media only screen and (min-width: 981px) {

}*/

  /*For devices 769px and larger: */
/*@media only screen and (min-width: 769px){

}*/
/*For devices 435px and smaller: */
/*@media only screen and (max-width: 435px) {
  
}*/

/*For devices 414px and smaller: */
/*@media only screen and (max-width: 414px) {
  
}*/
/*For devices 320px and smaller: */
/*@media only screen and (max-width: 320px) {
  
}*/
